* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --azul-principal: #4a90e2;
    --azul-hover: #377ccc;
    --verde-entrada: #28a745; /* Azul para cabeçalhos e elementos de destaque */
    --verde-sucesso: #50e3c2; /* Verde para indicar receitas e ações positivas */
    --laranja-alerta: #f5a623;
    --vermelho-saida: #dc3545; /* Laranja para alertas e status pendentes */
    --vermelho-despesa: #d0021b; /* Vermelho para indicar despesas e ações negativas */
    --cinza-texto: #4a4a4a;
    --preto-texto: #222222;
    --cinza-texto-claro: #777; /* Cinza escuro para textos principais */
    --cinza-1: #f3f3f3;
    --cinza-2: #cac8c8;
    --cinza-3: #b3b3b3; /* Cinza bem claro para o fundo de seções */
    --branco-puro: #ffffff; /* Branco para os cards e áreas de conteúdo */
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0 30px;
    background: var(--cinza-claro);
}

.container {
    height: 100%;
    width: 100%;
}

/* inicio header -----------------------------------------*/

header {
    background-color: var(--azul-principal);
    color: #fff;
    display: flex;
    height: 80px;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    box-shadow: 1px 2px 3px var(--cinza-2);
    z-index: 11;
}

.logo {
    margin: auto 0;
}

.logo a {
    color: var(--laranja-alerta);
    font-size: 2rem;
    text-decoration: none;
    font-weight: 600;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
}

/*--------------------------------início dropdown ------------------------------------ */
.dropdown-container {
    position: relative;
}

.dropdown-btn,
.btn-opcoes {
    padding: 10px;
    width: 100%;
    color: var(--branco-puro);
    border: none;
}

.dropdown-btn {
    background: transparent;
    min-width: 200px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    transition: ease-in 0.2s;
}

.dropdown-btn:hover {
    background: #1414144f;
}

.drop-menu-botoes,
.drop-menu-campo-filter {
    border-radius: 10px;
    background-color: var(--branco-puro);
    border: solid 1px var(--cinza-3);
    box-shadow: 1px 5px 10px var(--preto-texto);
    min-width: 200px;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -10px;
    display: none;
    z-index: 12;
}

/* adicionando essas classe com js para o dropdown ficar visível */
.show {
    display: flex;
    top: 60px;
}

.btn-opcoes {
    color: var(--preto-texto);
    background: var(--branco-puro);
    text-align: start;
}

.btn-opcoes:hover {
    background: var(--cinza-2);
}

#btn-filtra-por-data {
    border-radius: 10px 10px 0 0;
}

button a {
    color: var(--preto-texto);
    text-decoration: none;
}

.fechar {
    color: #c0392b;
    border-radius: 0 0 10px 10px;
}

/* dropdown select para filtro--------------------------- */
.drop-menu-campo-filter {
    width: 450px;
    height: 120px;
    position: absolute;
    right: -30%;
    left: 30%;
    top: 100px;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

#container-campo-filter {
    width: 95%;
    height: 70px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.campo-label {
    width: 260px;
    display: flex;
    flex-direction: column;
}

.campo-label label {
    margin: 2px 10px;
    color: #000000;
}

#campo-filter {
    width: 100%;
    height: 40px;
    border: solid 1px var(--cinza-texto);
    background: var(--branco-puro);
    box-shadow: 1px 2px 3px var(--preto-texto);
    border-radius: 10px;
    outline: none;
}

.botao-azul.filter {
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.overlay-dropdown {
    display: none;
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.7;
    z-index: 10;
}

.overlay-dropdown.active {
    display: block;
}
/*------------------------------- fim dropdown-------------------------------------- */

/* --------------------------------fim header ---------------------------------------*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* início seção resumo ---------------------------------*/
.cards-resumo {
    width: 100%;
    height: 150px;
    margin-top: 100px;
    border-radius: 10px;
    border: solid 1px var(--cinza-2);
    box-shadow: 1px 2px 3px var(--cinza-2);
    background-color: var(--cinza-1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--cinza-2);
    background: var(--branco-puro);
    height: 60%;
    width: 25%;
    min-width: 200px;
    border-radius: 10px;
    box-shadow: 1px 2px 3px var(--cinza-3);
}

.card h5 {
    font-size: 1rem;
    color: var(--cinza-texto-claro);
}

.card p {
    font-size: 1.3rem;
    font-weight: 700;
}

.title-card {
    display: flex;
    gap: 10px;
}

.title-card,
.arrow-up {
    color: var(--verde-entrada);
}

.title-card,
.arrow-down {
    color: var(--vermelho-despesa);
}

.calculator {
    color: var(--azul-principal);
}

#total-entradas {
    color: var(--verde-entrada);
}

#total-despesas {
    color: var(--vermelho-despesa);
}

#saldo {
    color: var(--azul-principal);
}

form {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0 30px;
    justify-content: center;
    align-items: end;
    background-color: var(--cinza-1);
    padding: 20px;
    border-radius: 10px;
    border: solid 1px var(--cinza-2);
    box-shadow: 1px 2px 3px var(--cinza-2);
    margin-top: 30px;
    width: 100%;
}

.tipo-de-transacao {
    width: 200px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tipo-de-transacao h3 {
    margin-bottom: 10px;
}

.radios {
    display: flex;
    width: 200px;
    justify-content: space-between;
}

#tipo-entrada,
#tipo-saida {
    box-shadow: none;
}

.campos-de-entrada {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* grid-template-rows: auto; */
    gap: 30px;
    grid-column: 1 / 2;
    align-items: end;
}

.campo {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    min-width: 200px;
}

input,
select {
    padding: 10px;
    border-radius: 10px;
    border: solid 1px var(--cinza-texto);
    box-shadow: 1px 2px 3px var(--cinza-3);
}

.valor-active::placeholder {
    color: var(--vermelho-despesa);
    font-weight: 600;
}

.botao-azul {
    background: var(--azul-principal);
    color: var(--branco-puro);
    border: none;
    border-radius: 10px;
    height: 42px;
    max-width: 240px;
    min-width: 200px;
    grid-column: 2 / 3;
    box-shadow: 1px 2px 3px var(--cinza-3);
}

.botao-azul:hover {
    background: var(--azul-hover);
}

.transacoes {
    width: 100%;
    height: auto;
    margin-top: 40px;
    border-radius: 10px;
    background: var(--cinza-1);
    border: solid 1px var(--cinza-2);
    box-shadow: 1px 2px 3px var(--cinza-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
}

.transacoes h3 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--preto-texto);
}

.linha {
    width: 100%;
    max-width: 800px;
    height: 2px;
    background-color: var(--cinza-3);
}

.mensagem-campo-transacoes {
    text-align: center;
}

.container-transacao {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.transacao {
    width: 100%;
    max-width: 1200px;
    height: 60px;
    border: solid 2px var(--cinza-3);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: var(--preto-texto);
}

.div-icon-categoria {
    display: flex;
    gap: 10px;
    width: 20%;
}

.transacao p {
    width: 15%;
}

.valor-transacao {
    font-size: 1.2rem;
    font-weight: 600;
}

.btn-excluir-transacao {
    width: 100px;
    height: 40px;
    border: solid 2px var(--vermelho-despesa);
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: ease 0.4s;
    color: var(--preto-texto);
}

.btn-excluir-transacao:hover {
    background: var(--vermelho-despesa);
    color: var(--branco-puro);
}

.btn-excluir-transacao.mobile {
    display: none;
}
/* medias queries */

@media (max-width: 1200px) {
    form {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 20px;
    }

    .campos-de-entrada {
        grid-template-columns: 1fr 1fr;
        grid-column: 1 / -1;
        justify-items: center;
        justify-self: center;
    }

    #btn-registrar {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        max-width: none;
        width: 438px;
        justify-self: center;
    }
}

@media (max-width: 780px) {
    .transacoes {
        padding: 30px;
    }

    .transacao {
        height: auto;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
    }

    .div-icon-categoria {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .btn-excluir-transacao {
        grid-column: 3 / 4;
    }

    .valor-transacao {
        grid-column: 2 / 3;
        width: 100px !important;
    }

    .forma-transacao {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        font-weight: 600;
    }

    .data-transacao {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        /* margin-left: 30px; */
    }

    body {
        padding: 0 10px;
    }
}

@media (max-width: 660px) {

    .drop-menu-botoes{
    right: 100px;
    }


    .drop-menu-campo-filter {
        width: 250px;
        height: 200px;
        margin-right: 230px;
     
    }

    #container-campo-filter {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        padding: 20px;
    }

    .campo-label {
        width: 100%;
        height: auto;
    }

    .botao-azul.filter {
        width: 100%;
    }

    .cards-resumo {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        padding: 20px 0;
        height: auto;
        row-gap: 15px;
    }

    .receita {
        grid-column: 1 / 2;
        height: 70px;
    }

    .despesa {
        grid-column: 2 / 3;
        height: 70px;
    }

    .total {
        grid-column: 1 / -1;
        width: 100%;
        height: 60px;
    }

    .tipo-de-transacao {
        justify-self: center;
    }

    .campos-de-entrada {
        grid-template-columns: auto;
        /* max-width: 400px;
       width: 100%;
        padding: 30px;  */
    }

    .botao-e-campos-de-entrada {
        max-width: 310px !important;
        width: 100%;
        /* padding: 10px; */
    }

    .campo {
        width: 100%;
        max-width: none;
    }

    .btn-excluir-transacao {
        display: none;
    }

    .btn-excluir-transacao.mobile {
        width: 40px;
        display: block;
    }
}

@media (max-width: 460px) {

 
    .card.despesa,
    .card.receita {
        min-width: 140px;
    }
    .transacoes {
        padding: 5px;
    }

    .campo {
        width: 100%;
    }
}
